.main {
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  padding-top: 95px;
}
.infoBlock {
  width: 50%;
  margin-right: 5%;
}
.cartBlock {
  width: 50%;
}
label {
  display: block;
  font-size: 16px;
}
.deliveryButtons {
  display: flex;
  justify-content: space-between;
}
.deliveryButtons button {
  width: 300px;
}
.focusButton {

  background-color: black !important;
  color: white;
}
.paymentButtons {
  display: block;
}
.paymentButtons button {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.input {
  border: 1px solid black;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 0 15px;
}
.main button {
  background-color: transparent;
  border: 1px solid black;
  font-size: 14px;
  font-weight: 500;
  height: 50px;
  cursor: pointer;
}
.main article {
  padding-bottom: 30px;
}
.city {
  width: 300px;
}
.marginButton {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
}
.checkbox {
  display: flex;
  align-items: center;
}
.agreeOffer {
  margin-left: 20px;
}
.order button {
  width: 100%;
}
.cartBlock img {
  width: 180px;
}
.cloth {
  display: flex;
}
.clothInfo {
  margin: 0 20px;
  line-height: 1.7;
}
.characteristics {
  display: flex;
  justify-content: space-between;
}
.characteristic {
  white-space: nowrap;
}
.paddingHorizontal {
  padding: 0 15px;
}
.marginVertically {
  margin: 45px 0;
}
.grayColor {
  color: #3c3737cc;
  font-size: 14px;
  font-weight: 500;
}
.boldText {
  font-weight: 600;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.total {
  width: 400px;
  float: right;
  line-height: 1.7;
}
.cursorPointer {
  cursor: pointer;
  display: inline-flex;
  width: 15px;
  justify-content: center;
}
.orderButton {
  background-color: black;
  color: white;
}

.orderButtonDisabled {
  background-color: rgba(206, 203, 203, 0.1);
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: default;
}

.skeletonFlex{
  display: flex;
}