.homePage {
  padding-top: 85px;

}
.blockOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blockOne h1 {
  font-size: 60px;
}

.blockOne p {
  font-size: 17px;
  color: rgb(101, 100, 100);
}

.blockTwo img {
  width: 100%;
}
.homePageDark {
  padding-top: 85px;
  background-color: black;
}
.homePageDark h1,
.homePageDark p {
  color: white;
}