.homePage {
  padding-top: 85px;

}
.blockOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blockOne h1 {
  font-size: 60px;
}

.blockOne p {
  font-size: 17px;
  color: rgb(101, 100, 100);
}

.blockTwo img {
  width: 100%;
}
.homePageDark {
  padding-top: 85px;
  background-color: black;
}
.homePageDark h1,
.homePageDark p {
  color: white;
}

.laramAnimation{
  position: relative;
  overflow: hidden;
  background-color: rgb(105, 105, 105);
}

.animationWrapper {
  display: flex;
}

.dot {
  padding: 20px;
}
.animationItem {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #fff;
  font-weight: 500;
  white-space: nowrap;
  flex-shrink: 0;
  animation: laram 5s linear infinite;
}

@keyframes laram{
0% {
  transform: translateZ(0)
}
to {
  transform: translate3d(-100%, 0, 0);
}

}