.block  p{
  color: grey;
}

.block h1 {
  color: rgb(171, 168, 168);
  font-size: 18px;
  font-weight: 600;
}

.main {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 50px;

}

.block {
  width: 360px;
  text-align: center;
}

.mainDark {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: black;
}