.blockMain {
  padding-top: 85px;
  display: flex;
}

.blockTwo img {
  display: block;
  width: 700px;
  height: 700px;
}

.blockOne h1 {
  color: grey;
  font-weight: 400;
  margin-bottom: 20px;
}

.blockOne p {
  color: grey;
  font-size: 20px;
}

.blockOne {
  margin: auto;
  width: 600px;
}

.blockMainDark {
  padding-top: 85px;
  background-color: black;
  display: flex;
}
