.header {
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1050;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: white;
}
.headerCenter {
  width: 430px;
  display: flex;
  justify-content: space-between;
}

.headerCenter button:hover {
  border-bottom: 2px solid grey;
}

.headerCenter a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.headerRight {
  display: flex;
  align-items: center;
  gap: 30px;
}
.headerRight a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.logo h1 {
  font-size: 45px;
}

.header a:hover {
  border-bottom: 2px solid black;
}
.headerBar {
  background-color: white;
  border: none;
  padding: 7px;
  cursor: pointer;
}

.catalogBlock {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-top: 20px;
}
.collectionsList {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(200, 200, 200);
  padding: 20px;
  right: 860px;
  top: 65px;
  z-index: 1022;
}

.accesList {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(200, 200, 200);
  padding: 20px;
  right: 520px;
  top: 65px;
  z-index: 1022;
}

.categoriesList {
  position: absolute;
  background-color: white;
  box-shadow: 0px 0px 10px rgb(200, 200, 200);
  padding: 20px;
  right: 690px;
  top: 65px;
  z-index: 1022;
}

.list {
  text-transform: uppercase;
  width: 160px;
}
.list p {
  font-size: 13px;
  color: #707070;
}
.listName {
  color: #080b13;
}
.listName button {
  font-size: 16px;
  background-color: inherit;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.logo a {
  text-decoration: none;
  color: black;
  font-size: 40px;
}

/* dark theme */

.headerDark {
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 60px;
  background-color: black;
}
.headerDark h1,
.headerDark button,
.headerDark a {
  background-color: black;
  color: white;
}

.headerCenterDark {
  width: 430px;
  display: flex;
  justify-content: space-between;
}

.headerDark .categoriesList,
.headerDark .collectionsList {
  box-shadow: none;
}
.headerDark .listName button {
  background-color: inherit;
  color: black;
}
#slider {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: grey; */
}
#slider img {
  width: 16px;
}
/* WHITE BUTTON */
.themeButton,
.headerDark .themeButton {
  background-color: black;
  border: none;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  padding: 0 3px;
}
.themeButton div,
.headerDark .themeButton div {
  transition: all 0.3s ease;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
/* DARK BUTTON */
.themeButtonDark,
.headerDark .themeButtonDark {
  background-color: white;
  border: none;
  width: 50px;
  height: 25px;
  border-radius: 20px;
  padding: 0 3px;
}
.themeButtonDark div,
.headerDark .themeButtonDark div {
  transition: all 0.3s ease;
  margin-left: 24px;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

@media (max-width: 450px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .headerCenter {
    display: flex;
    flex-direction: column;
  }
  .headerRight {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    line-height: 0;
  }
  .headerDark {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .headerCenter {
    margin-bottom: 20px;
  }  
  .collectionsList {
    position: absolute;
    width: 150px;
    top: 180px;
    left: 150px;
  }
  .categoriesList {
    position: absolute;
    width: 150px;
    top: 180px;
    left: 310px;
  }
  .accesList{
    position: absolute;
    width: 150px;
    top: 180px;
    left: 470px;
    display: flex;
  }
  .headerDark {
    position: relative;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1080px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .logo h1{
    display: block
  }
  .headerDark {
    display: flex;
    flex-direction: column;
    position: relative;
  }
}