.linksTwo {
  display: flex;
  flex-direction: column;
}

.linksTwo a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.footer {
  background: black;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.linksOne {
  display: flex;
  flex-direction: column;
}
.linksOne a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.links {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.email input {
  width: 315px;
  height: 50px;
  background: black;
  border: 1px solid white;
  color: white;
  padding-left: 15px;
  font-size: 17px;
}

.email input:placeholder-shown {
  color: grey;
  font-size: 17px;
}

.email button {
  padding: 16px;
  margin-left: 15px;
  color: black;
  background: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.email {
  display: flex;
  align-items: center;
}
