.linksTwo {
  display: flex;
  flex-direction: column;
}

.linksTwo a {
  text-decoration: none;
  color: white;
}

.footer {
  background: black;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer p {
  color: white;
  padding: 5px;
}

.linksOne {
  display: flex;
  flex-direction: column;
}
.linksOne a {
  text-decoration: none;
  color: white;
  padding: 5px;
}


.links {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.email input {
  width: 315px;
  height: 50px;
  background: black;
  border: 1px solid white;
  color: white;
  padding-left: 15px;
  font-size: 17px;
}

.email input:placeholder-shown {
  color: grey;
  font-size: 17px;
}

.email button {
  padding: 16px;
  margin-left: 15px;
  color: black;
  background: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border: none;
}
.email {
  display: flex;
  align-items: center;
}


.footerDark {
  background: white;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerDark a,
.footerDark p {
  color: black;
  margin-bottom: 10px;

}
.footerDark button {
  background-color: black;
  color: white;
  border: none;
}
.footerDark .email input {
  color: black;
  background-color: white;
  border: 1px solid black;
}


@media (max-width: 450px){
  .footer{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .email {
    display: flex;
    flex-direction: column;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  .linksOne {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .linksOne a {
    padding: 0px 15px;
  }
  .linksTwo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .linksTwo a {
    padding: 0px 15px;
  }
  .email button {
    margin-top: 15px;
  }
}


@media (max-width: 800px) {
  .footer{
    display: flex;
    align-items: center;
  }
  .links {
    display: flex;
    align-items: center;
  }
  .linksTwo a{
    padding: 0;
    margin: 0;
  }
  .linksTwo p {
    margin: 0;
    padding: 5px;
  }
  .linksOne a{
    padding: 0;
    margin: 0;
  }
  .linksOne a{
    margin: 0;
    padding: 5px;
  }
}

@media (max-width: 680px) {
.footer {
  display: flex;
  flex-direction: column;
}
}

@media (max-width: 1080px) {
  .footer{
    display: flex;
    align-items: center;
  }
  .links {
    display: flex;
    align-items: center;
  }
  .linksTwo a{
    padding: 0;
    margin: 0;
  }
  .linksTwo p {
    margin: 0;
    padding: 5px;
  }
  .linksOne a{
    padding: 0;
    margin: 0;
  }
  .linksOne a{
    margin: 0;
    padding: 5px;
  }
}